<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="main">
    <h1>Вход в аккаунт</h1>

    <div class="error" th:if="${param.error}">
        <span>Некорректные имя пользователя и/или пароль</span>
    </div>

    <form class="flex-form" method="post" action="/process_login">
<!--        <label for="username">Имя пользователя</label>-->
        <input type="text" name="username" id="username" placeholder="Имя пользователя" required>

<!--        <label for="password">Пароль</label>-->
        <input type="password" name="password" id="password" placeholder="Пароль" required>

        <input type="submit" value="Войти">
    </form>

    <div class="login-no-account">
        <span>Нет аккаунта?</span>
        <a th:href="@{/auth/registration-client}">Зарегистрироваться как клиент</a>
        <a th:href="@{/auth/registration-repairman}">Зарегистрироваться как мастер</a>
    </div>
</div>

</body>
</html>