<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить тип прибора</title>
</head>
<body>
<form th:method="POST" th:action="@{/clients/{clientId}/appliances/types(clientId=${clientId})}" th:object="${applianceType}">
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="name">Название: </label>
    <input type="text" id="name" th:field="*{name}">
    <br>

    <button type="submit">Добавить тип прибора</button>
</form>

</body>
</html>