<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Оставить отзыв</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<div class="main">
    <h1>Оставить отзыв</h1>
</div>

<form class="flex-form" th:method="POST" th:action="@{/feedback}" th:object="${feedback}">
    <input type="hidden" name="orderId" th:value="${orderId}">

    <div>
        <label class="span-bold" for="description">Отзыв: </label>
        <textarea name="description" id="description" cols="30" rows="10" th:field="*{description}"></textarea>
    </div>

    <div>
        <div class="error" th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></div>
        <label class="span-bold" for="rating">Оценка: </label>
        <input type="number" id="rating" th:field="*{rating}">
    </div>

    <input type="submit" value="Сохранить">
</form>

</body>
</html>