<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить тип техники</title>
</head>
<body>
<form th:method="POST" th:action="@{/appliance-types}" th:object="${applianceType}">
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="name">Название: </label>
    <input type="text" id="name" th:field="*{name}">
    <br>

    <input type="submit" value="Добавить">
</form>

</body>
</html>