<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновить профиль</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/clients/{id}(id=${client.getId()})}" th:object="${client}">
    <div class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    <label for="firstName">Введите имя: </label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>

    <div class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>

    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <label for="email">Введите адрес эл. почты: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>

    <div class="error" th:if="${#fields.hasErrors('telNumber')}" th:errors="*{telNumber}"></div>
    <label for="telNumber">Введите номер телефона: </label>
    <input type="text" th:field="*{telNumber}" id="telNumber"/>
    <br/>

    <div class="error" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
    <label for="address">Введите адрес: </label>
    <input type="text" th:field="*{address}" id="address"/>
    <br/>

    <div class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <label for="username">Введите имя пользователя: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>

    <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>

    <input type="submit" value="Обновить"/>
</form>

<br>
<hr>
<a href="/clients">Список клиентов</a>

<br>
<hr>
<a th:href="@{/clients/{id}(id=${client.getId()})}">Вернуться в профиль</a>

</body>
</html>