<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
</head>
<body>

<div>
    <p th:text="${client.id}"></p>
    <p th:text="${client.firstName + ' ' + client.lastName}"></p>
    <p th:text="${client.email}"></p>
    <p th:text="${client.telNumber}"></p>
    <p th:text="${client.username}"></p>
    <p th:text="${client.address}"></p>
</div>

<form th:method="GET" th:action="@{/appliances}">
    <input type="submit" value="Ваша техника">
</form>
<br>
<form th:method="GET" th:action="@{/repairmen}">
    <input type="submit" value="Список мастеров">
</form>
<br>
<form th:method="GET" th:action="@{/orders}">
    <input type="submit" value="Список заказов">
</form>
<br>
<form th:method="GET" th:action="@{'/clients/' + ${client.id} + '/edit'}">
    <input type="submit" value="Обновить">
</form>
<br>
<form th:method="DELETE" th:action="@{'/clients/' + ${client.id}}">
    <input type="submit" value="Удалить">
</form>
<br>
<form th:method="POST" th:action="@{/logout}">
    <input type="submit" value="Выйти из аккаунта">
</form>

</body>
</html>