<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>

<form th:method="GET" th:action="@{/clients/profile}">
    <input type="submit" value="Профиль">
</form>
<br>
<form th:method="GET" th:action="@{/appliances}">
    <input type="submit" value="Ваша техника">
</form>
<br>
<form th:method="GET" th:action="@{/repairmen}">
    <input type="submit" value="Список мастеров">
</form>
<br>
<form th:method="GET" th:action="@{/orders}">
    <input type="submit" value="Список заказов">
</form>

</body>
</html>