<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваша техника</title>
</head>
<body>

<div th:each="appliance : ${appliances}">
    <span th:text="${appliance.name}"></span>
    <br>
    <span th:text="${appliance.purchaseDate}"></span>
    <br>
    <span th:text="${appliance.type.name}"></span>
    <br><br>
    <form th:method="GET" th:action="@{'/appliances/' + ${appliance.id} + '/edit'}">
        <input type="submit" value="Обновить">
    </form>
    <form th:method="DELETE" th:action="@{'/appliances/' + ${appliance.id}}">
        <input type="submit" value="Удалить">
    </form>
    <hr>
</div>

<form th:method="GET" th:action="@{/appliances/new}">
    <input type="submit" value="Добавить технику">
</form>
<br>
<form th:method="GET" th:action="@{/appliances}">
    <input type="submit" value="Список техники">
</form>
<br>
<form th:method="GET" th:action="@{'/clients/' + ${clientId}}">
    <input type="submit" value="Вернуться в профиль">
</form>

</body>
</html>