<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить технику</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<form th:method="POST" th:action="@{/appliances}" th:object="${appliance}">
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <label for="name">Название: </label>
    <input type="text" id="name" th:field="*{name}">
    <br>

    <div class="error" th:if="${#fields.hasErrors('purchaseDate')}" th:errors="*{purchaseDate}"></div>
    <label for="purchaseDate">Дата покупки: </label>
    <input type="date" id="purchaseDate" th:field="*{purchaseDate}">
    <br>

    <div class="error" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    <label for="type">Тип техники: </label>
    <select id="type" th:field="*{type}">
        <option th:each="type : ${applianceTypes}" th:value="${type.id}" th:text="${type.name}"></option>
    </select>
    <br>

    <input type="submit" value="Добавить">
</form>

</body>
</html>